.add-option {
    display:flex;
    padding: 2rem;
}

.add-option__input {
    background: $dark-blue;
    border:none;
    border-bottom: .3rem solid darken($dark-blue,10%);
    flex-grow: 1;
    color:white;
    padding:1rem;
}

@media(min-width:45rem){
    .add-option{
        flex-direction: column;
    }
}