.header {
    margin-bottom: 4rem;
    background: $off-black;
    color:white;
    padding: 1.6rem 0;
 }
// Just a naming convention below;
 .header__title {
    font-size: 3.2rem;
    margin: 0;
 }
// This is again the same naming convention used for naming inner elements :BEM convention 
 .header__subtitle {
     color: #a5afd7;
     font-size: 1.6rem;
     font-weight: 500;
     margin: 0;
 }