// Widget header
.widget{
    background-color: $light-blue;
    margin-bottom: 4rem; 
    border-bottom: 1px solid lighten($light-blue, 10%);
    p{
        color: $off-white;
        margin:none;
        padding:1.5rem;
        text-align: center;
        border: none;
      
    }
}

.widget-header{
    background-color: $blue;
    color: $off-white;
    padding: 2rem;
    display:flex;
    justify-content: space-between;
}

.widget-header__title {
    margin: 0%;

}
