// In this file we use SCSS variables to store common and reused values:

// Colors: 
$off-black: #20222b;
$dark-blue: #333745;
$purple: #8357c5;
$off-white: #a5afd7;
$blue:#3c4251;
$light-blue: #464b5e;  
//size
$s-size:1em;
$m-size:1rem;